<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Force /storage/* requests to go through public/storage
    # If a real file exists in public/storage, it will be served.
    # If not, it falls through to Laravel index.php
    RewriteCond %{REQUEST_URI} ^/storage/(.*)$
    RewriteCond %{DOCUMENT_ROOT}/public/storage/%1 !-f
    RewriteRule ^(.*)$ public/index.php [L,QSA]

    RewriteCond %{REQUEST_URI} ^/storage/
    RewriteRule ^(.*)$ public/$1 [L,QSA]

    # Handle Front Controller...
    RewriteCond %{REQUEST_URI} !^/public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
