@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply tracking-tight antialiased text-gray-900 dark:text-gray-100;
    }

    h1, h2, h3, h4, h5, h6 {
        @apply tracking-tight font-sans;
    }
}
